<h1>{{#link-to "index"}}Jane Doe Photography{{/link-to}}</h1>

<ul>
  <li>
    {{#link-to "gallery"}}Gallery{{/link-to}}
  </li>
  <li>
    {{#link-to "about"}}About{{/link-to}}
  </li>
  <li>
    {{#link-to "contact"}}Contact{{/link-to}}
  </li>
</ul>

{{outlet}}
