<h1>{{#link-to "index"}}Jane Doe Photography{{/link-to}}</h1>

<ul id="nav-bar">
  {{#link-to "gallery"}}
    <li class="nav-button">Gallery</li>
  {{/link-to}}
  {{#link-to "about"}}
    <li class="nav-button">About</li>
  {{/link-to}}
  {{#link-to "contact"}}
    <li class="nav-button">Contact</li>
  {{/link-to}}
</ul>

{{outlet}}
